{% extends 'mail/base.html' %}

{% block content %}
    <main>
        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">Логи</h4>
            {% for object in object_list %}
                <div class="d-flex text-body-secondary pt-3">
                    <p class="pb-3 mb-0 lh-sm border-bottom">
                        <strong class="d-block text-gray-dark">Лог №{{ object.pk }}</strong>
                        Время создания лога: {{ object }}
                        Ответ сервера: {{ object.server_answer }}
                        Статус: {{ object.status }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}