{% extends 'mail/base.html' %}

{% block content %}
    <main>

        {% if user.is_authenticated %}
            <a type="button" href="{% url 'mail:newsletter_create' %}" class="btn btn-outline-primary">Создать новую
                рассылку</a>
        {% endif %}

        <div class="my-3 p-3 bg-body rounded shadow-sm">
            <h4 class="border-bottom pb-2 mb-0">Рассылки</h4>
            {% for object in object_list %}
                <div class="d-flex text-body-secondary pt-3">
                    <p class="pb-3 mb-0 lh-sm border-bottom">
                        <strong><a href="{% url 'mail:newsletter_view' object.pk %}"
                                   class="d-block text-gray-dark">{{ object }}</a></strong>
                        {{ object.body | truncatechars:130 }}
                        <label class="d-block text-gray-dark">Статус:
                            {% include 'mail/include status.html' %}
                        </label>
                    </p>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}